.main {
  margin: 0 auto;
  padding: 2rem;
  
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 16px;
}

.nav {
	grid-column: 1;
}

.tabs {
	grid-column: 2;
}

.content {
	padding-top: 12px;
}



