.L  { color: grey; font-family: 'Courier New'; font-weight: bold }
.V  { color: #00aa00; font-family: 'Courier New'; font-weight: bold }
.N1 { color: pink; font-family: 'Courier New'; font-weight: bold }
.D  { color: blue; font-family: 'Courier New'; font-weight: bold }
.N2 { color: purple; font-family: 'Courier New'; font-weight: bold }
.J  { color: gold; font-family: 'Courier New'; font-weight: bold }
.R  { color: grey; font-family: 'Courier New'; font-weight: bold }
